@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$imageSizeM: 18px;
$imageSizeXM: 16px;
$imageSizeS: 14px;
$containerIconSize: 20px;

$block: '.#{$ns}nh-navigation-popup-item';

#{$block} {
    @include reset-link-style();

    display: flex;
    align-items: flex-start;
    border-radius: var(--g-border-radius-xl);
    height: 100%;
    gap: $indentXS;

    &_column {
        flex-direction: column;

        #{$block}__image {
            width: auto;
            max-width: 100%;
            height: 30px;

            &-container {
                padding: 0;
                border-radius: 0;
                border: none;
            }
        }

        #{$block}__container {
            align-self: initial;
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            flex-direction: row;

            #{$block}__image {
                width: 30px;
                height: 30px;

                &-container {
                    padding: 5px;
                    border-radius: 0;
                    border: none;
                }
            }
        }
    }

    &:hover,
    &:active {
        #{$block}__description {
            color: var(--g-color-text-primary);
        }

        #{$block}__image-container {
            background: var(--nh-popup-item-color-hover);
        }

        #{$block}__title > svg {
            pointer-events: initial;
            opacity: 1;
        }
    }

    &_disable {
        pointer-events: none;
    }

    &__container {
        flex: 1;
    }

    &__title {
        position: relative;
        @include text-size(body-2);
        font-weight: 500;
        color: var(--g-color-text-primary);
        & > svg {
            display: inline-block;
            position: absolute;
            margin-top: 3px;
            transition: opacity 0.2s;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__description {
        @include text-size(body-1);
        transition: color 0.2s;
        display: block;
        margin-top: 1px;
        color: var(--g-color-text-secondary);
    }

    &__tag {
        position: relative;
        top: -2px;
    }

    &__image {
        display: block;
        width: 24px;
        height: 24px;

        &_desktop {
            @media (max-width: map-get($gridBreakpoints, 'md')) {
                display: none;
            }
        }

        &_mobile {
            @media (min-width: map-get($gridBreakpoints, 'md') + 1) {
                display: none;
            }
        }

        &-container {
            padding: $indentXXXS;
            border-radius: $indentXXXS;
            background: var(--nh-popup-item-color);
            transition: background 0.2s;

            &_no-bg {
                border: 1px solid var(--g-color-line-generic-solid);
                padding: 7px;
                background: transparent;
            }
        }
    }
}
