@import '../../../../../styles/variables.scss';

$block: '.#{$ns}nh-navigation-popup';

#{$block} {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1248px;
    width: 100%;
    z-index: 10;

    a,
    button,
    input,
    select,
    textarea,
    [tabindex]:not([tabindex='-1']) {
        &:focus-visible,
        &[data-keyboard-focus='true'] {
            outline: 2px solid var(--g-color-line-focus);
            outline-offset: 4px;
        }
    }
}
