@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-mobile-navigation';
$mobileContainerHeight: 64px;

#{$block} {
    @include reset-list-style();
    @include text-size(body-2);

    @media (min-width: map-get($gridBreakpoints, 'lg')) {
        display: none;
    }

    &__icon {
        @include reset-button-hover($block);
        display: none;

        &_hidden {
            display: none;
        }

        &:focus-visible {
            outline: 2px solid var(--g-color-line-focus);
            outline-offset: 2px;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $mobileContainerHeight;
        padding: 0 $indentXS;
        background-color: var(--g-color-base-background);
        border-bottom: 1px solid var(--g-color-line-generic);

        &-right {
            display: flex;
            align-items: center;
            gap: $indentXXXS;
        }
    }

    &__close-button:focus-visible {
        outline: 2px solid var(--g-color-line-focus);
        outline-offset: 2px;
    }

    &__search-container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        padding: $indentXXS $indentXS;
    }

    &__list {
        @include reset-list-style();
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--g-color-line-generic);

        & > li + li {
            border-top: 1px solid var(--g-color-line-generic);
        }

        & + & {
            margin-top: 150px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: $indentXS;
        margin-top: $indentM;
    }

    &__button {
        width: 100%;
    }

    &__login-items {
        display: flex;
        flex-direction: column;
        margin-top: $indentM;
    }

    &__login-item {
        padding: $indentXXXS 0;
        & + & {
            border-top: 1px solid var(--g-color-line-generic);
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__icon {
            display: block;

            &_hidden {
                display: none;
            }
        }
    }
}
