@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-mobile-navigation-popup';

#{$block} {
    $block: &;
    $transitionTime: 0.4s;
    width: 100%;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 1000;
    height: calc(100vh - 64px);
    background-color: var(--g-color-base-background);
    box-shadow: none;

    &__transition-enter {
        transform: translateY(-100%);
    }

    &__transition-enter-active {
        transform: translateY(0);
        transition: transform $transitionTime ease-out;
    }

    &__transition-exit {
        transform: translateY(0);
    }

    &__transition-exit-active {
        transform: translateY(-100%);
        transition: transform $transitionTime ease-in;
    }

    &__container {
        padding: 0;
        overflow-y: auto;
        height: 100%;
    }
}
