@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$ns}nh-navigation';

#{$block} {
    @include reset-list-style();
    @include text-size(body-2);
    @include desktop-only();
    display: flex;
    align-items: center;
    gap: $indentS;

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        display: none;
    }
}
