@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-mobile-navigation-item';

#{$block} {
    padding: $indentXS $indentXXXS $indentXS 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_type_link {
        @include reset-link-style();

        display: block;
        color: var(--g-color-text-primary);
        font-weight: 500;
        @include text-size(body-2);
    }

    &__text {
        font-weight: 500;
        @include text-size(body-2);
        color: var(--g-color-text-primary);
    }

    &__arrow {
        color: var(--g-color-text-secondary);
    }

    &__content {
        padding: $indentM 0 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background: var(--g-color-base-background);
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: $indentS;

        &-title {
            @include text-size(body-2);
            color: var(--g-color-text-primary);
            font-weight: 500;
        }

        &-items {
            display: grid;
            grid-template-columns: 1fr;
            gap: $indentS;

            @media (min-width: map-get($gridBreakpoints, 'sm')) {
                gap: $indentSM 40px;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &__list-link {
        @include reset-link-style();
        @include text-size(body-2);
        color: var(--g-color-text-primary);
        padding: $indentXXS 0;

        &:hover {
            color: var(--g-color-text-link);
        }
    }
}
