@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-default-popup';

#{$block} {
    background: var(--g-color-base-float);
    box-shadow: 0 4px 24px var(--g-color-base-generic), 0 2px 8px var(--g-color-base-generic);

    @include navigation-overflow-popup($indentXL);
    width: 100%;
    border-radius: var(--pc-border-radius, 24px);
    scrollbar-width: none;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    &__head {
        display: flex;
        align-items: baseline;
        column-gap: $indentXXS;
        row-gap: 2px;
        flex-wrap: wrap;
    }

    &__title {
        @include text-size(body-3);
        color: var(--g-color-text-primary);
        font-weight: 500;
    }

    &__subtitle {
        @include text-size(body-1);
        color: var(--g-color-text-secondary);
    }

    &__left {
        flex: 1;
        & > div + div {
            border-top: 1px solid var(--g-color-line-generic-solid);
        }
    }

    &__section {
        display: flex;
        padding: $indentSM $indentM;
        flex-direction: column;
        gap: $indentSM;

        &_side-head {
            flex-direction: row;
            gap: 0;
        }
    }

    &__section-head {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding-right: $indentM;
        flex-shrink: 0;
        gap: 2px;
    }

    &__wrap {
        display: grid;
        gap: $indentSM 40px;
        align-items: flex-start;

        &_mode_run {
            grid-template-columns: repeat(12, 1fr);

            & > a {
                grid-column: span 4;
                grid-row: 1;
            }

            & > .#{$ns}nh-default-popup__inner-wrap:empty {
                display: none;
            }

            & > a + .#{$ns}nh-default-popup__inner-wrap {
                grid-column: span 8;
            }

            & > .#{$ns}nh-default-popup__inner-wrap:last-child {
                grid-column: span 12;
            }
        }
    }

    &__inner-wrap {
        display: grid;
        gap: $indentSM 40px;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__right {
        width: 100%;
        max-width: 320px;
        flex-shrink: 0;
        border-left: 1px solid var(--g-color-line-generic-solid);
        display: flex;
        flex-direction: column;
        padding: $indentSM $indentM;
        gap: $indentS;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: $indentSM;
    }
}
