@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../styles/mixins.scss';

$block: '.#{$ns}investor-popup';

#{$block} {
    border-radius: var(--pc-border-radius, 24px);
    background: var(--g-color-base-float);
    box-shadow: 0 4px 24px var(--g-color-base-generic), 0 2px 8px var(--g-color-base-generic);

    @include navigation-overflow-popup($indentXL);
    max-width: 900px;
    margin-left: auto;
    width: 100%;
    border-radius: var(--pc-border-radius, 24px);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        padding: $indentM;

        display: flex;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: $indentSM;
        padding: 0;
        flex: 1;
    }

    &__title {
        @include text-size(header-1);

        font-weight: 600;
        margin-bottom: $indentXXXS;
    }

    &__subtitle {
        @include text-size(body-2);

        font-weight: 500;
        color: #9fb1bd;
    }

    &__card {
        background-color: #f2f4f5;
        border-radius: $indentXXXS;
        width: 268px;
        padding: $indentS;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            @include text-size(body-2);

            font-weight: 500;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: $indent4XS;
        }

        &-price {
            @include text-size(display-2);

            font-weight: 700;
        }

        &-date {
            @include text-size(body-2);

            font-weight: 500;
            color: #9fb1bd;
        }
    }
}
