@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-login-popup';

#{$block} {
    border-radius: $indentXS;
    background: var(--g-color-base-float);
    box-shadow: 0 4px 24px var(--g-color-base-generic), 0 2px 8px var(--g-color-base-generic);
    @include navigation-overflow-popup($indentXL);
    margin-left: auto;
    width: max-content;
    min-width: 212px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & > div + div {
        border-top: 1px solid var(--g-color-line-generic-solid);
    }

    &__item {
        padding: $indentXS;
    }
}
