@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$ns}nh-login-button';

#{$block} {
    display: flex;
    align-items: center;
    height: 36px;
    gap: $indent4XS;
    padding: 0 $indentXXXS 0 $indentXXS;
    background: var(--g-color-base-brand);
    color: var(--g-color-text-brand-contrast);
    border-radius: var(--g-button-border-radius, $indentXXXS);
    @include text-size(body-2);
    font-weight: 500;

    &:hover {
        background: var(--g-color-base-brand-hover);
    }
}
