@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$ns}nh-login-button';

#{$block}__wrapper {
    display: flex;
}

#{$block} {
    @include reset-button-style();

    display: flex;
    align-items: center;
    height: 36px;
    gap: $indent4XS;
    padding: 0 $indentXXS 0 $indentXS;
    background: #001a2b;
    color: var(--g-color-text-brand-contrast);
    border-radius: $indentXXS;
    @include text-size(body-2);
    font-weight: 500;
    cursor: default;

    &:hover {
        background: var(--g-color-base-brand-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--g-color-line-focus);
        outline-offset: 2px;
    }
}
