@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import './styles/mixins.scss';

$desktopContainerHeight: 64px;
$mobileContainerHeight: 64px;

$block: '.#{$ns}new-header';

#{$block} {
    --g-scrollbar-width: 8px;
    --g-color-scroll-handle: var(--g-color-base-generic);
    --g-color-scroll-handle-hover: var(--g-color-line-generic);

    width: 100%;
    background: var(--pc-transparent);

    &_with-background {
        background: var(--g-color-base-background);
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: $contentWidth;
        padding: 0 $gridContainerPadding;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $desktopContainerHeight;
        border-radius: var(--pc-border-radius, 24px);

        @media (max-width: map-get($gridBreakpoints, 'xxl')) {
            padding: 0 $indentXS;
        }
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__left {
        gap: $indentS;

        @media (max-width: map-get($gridBreakpoints, 'xxl')) {
            gap: $indentXXS;
        }
    }

    &__right {
        justify-content: flex-end;
        width: 100%;
        gap: $indentXXXS;
    }

    &__wrap {
        display: flex;
        align-items: center;
        gap: $indentXXXS;
    }

    &__icons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__icon {
        color: var(--g-color-text-hint);
        transition: color 0.2s;
    }

    &__user {
        @include desktop-only();

        margin-left: $indentXXS;
    }

    &__back {
        position: relative;
        left: 2px;

        &-icon {
            color: var(--g-color-text-hint);
        }
    }

    &__back {
        @include reset-button-hover($block);
        display: none;
    }

    &__navigation {
        @include desktop-only();
    }

    &__popup {
        @include popup-styles(var(--pc-border-radius, 24px));

        --yc-popover-max-width: #{calc($newContentWidth + ($indentM * 2))};
        --yc-popover-padding: #{$indentS};

        width: var(--yc-popover-max-width);
        left: 0;
        box-shadow: 0 4px 24px var(--g-color-base-generic-hover),
            0 2px 8px var(--g-color-base-generic-hover);

        &_with-background {
            border-radius: 0 0 var(--pc-border-radius, 24px) var(--pc-border-radius, 24px);
        }
    }

    &__scroll-arrow {
        height: 20px;
        color: var(--g-color-text-hint);
    }

    &__user-popup {
        @include popup-styles(var(--g-border-radius-m));
    }

    &_search {
        #{$block}__left,
        #{$block}__navigation,
        #{$block}__wrap > div:not(#{$block}__icons-container) {
            display: none;
        }

        #{$block}__wrap,
        #{$block}__icons-container {
            flex: 1;
        }
    }

    &__buttons {
        display: flex;
        gap: $indentXXXS;
        --g-button-border-radius: 8px;
        --g-button-background-color-hover: ;

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            display: none;
        }
    }

    &__button {
        @include reset-link-style();
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 $indentXS;
        @include text-size(body-2);
        font-weight: 500;
        border-radius: $indentXXXS;
        border: 1px solid rgba(5, 43, 66, 0.1);
        transition: border-color 0.2s;

        &:hover {
            border-color: rgba(5, 43, 66, 0.25);
        }

        &:focus-visible {
            outline: 2px solid var(--g-color-line-focus);
            outline-offset: 2px;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'lg')) {
        &__left {
            margin-right: 0;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        max-width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &__left {
            margin-right: $indentXXS;
        }

        &__icons-container {
            flex-direction: row-reverse;
            justify-content: flex-start;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__container {
            height: $mobileContainerHeight;
        }
    }
}
