@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../styles/mixins.scss';

$block: '.#{$ns}company-popup';

#{$block} {
    border-radius: var(--pc-border-radius, 24px);
    background: var(--g-color-base-float);
    box-shadow: 0 4px 24px var(--g-color-base-generic), 0 2px 8px var(--g-color-base-generic);

    @include navigation-overflow-popup($indentXL);
    max-width: 900px;
    margin-left: auto;
    width: 100%;
    border-radius: var(--pc-border-radius, 24px);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        padding: $indentS;
        display: flex;
    }

    &__title {
        @include text-size(body-2);

        padding: $indentXXS;
        font-weight: 500;
        color: #9fb1bd;
    }
}
