@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../styles/mixins.scss';

$block: '.#{$ns}nh-products-popup';

#{$block} {
    background: var(--g-color-base-float);
    box-shadow: 0 4px 24px var(--g-color-base-generic), 0 2px 8px var(--g-color-base-generic);

    @include navigation-overflow-popup($indentXL);
    width: 100%;
    border-radius: var(--pc-border-radius, 24px);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & > div + div {
        border-top: 1px solid var(--g-color-line-generic-solid);
    }

    &__section {
        display: flex;
        padding: $indentSM $indentM;
    }

    &__section-head {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding-right: $indentM;
        flex-shrink: 0;
        gap: 2px;
    }

    &__title {
        @include text-size(body-3);
        color: var(--g-color-text-primary);
        font-weight: 500;
    }

    &__subtitle {
        @include text-size(body-1);
        color: var(--g-color-text-secondary);
    }

    &__wrap,
    &__wrap-scale {
        display: grid;
        gap: $indentSM 40px;
        align-items: flex-start;
    }

    &__wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__wrap-scale {
        grid-template-columns: repeat(12, 1fr);

        & > a {
            grid-column: span 4;
            grid-row: 1;
        }
    }

    &__wrap-scale > &__wrap:empty {
        display: none;
    }

    &__wrap-scale > a + &__wrap {
        grid-column: span 8;
    }

    &__wrap-scale > &__wrap:last-child {
        grid-column: span 12;
    }
}
