.g-root {
    --pc-addons-navigation-color-tag-yellow: var(--g-color-base-warning-light);
    --pc-addons-navigation-color-tag-green: var(--g-color-base-positive-light);
    --pc-addons-navigation-color-tag-blue: var(--g-color-base-info-light);
}
