@import '../../../../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}medium-popup-with-floors';

#{$block} {
    @include navigation-overflow-popup($indentXL);

    overflow-y: auto;
    padding-left: $indentXXS;
    margin-right: -$indentXXS;
}
